<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <!--定义Auth IRepo-->
    <alias alias="IAuthSeqRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IAuthSeqRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapAppRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapAppRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapAuthAuditRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapAuthAuditRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapFunctionGroupRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapFunctionGroupRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapFunctionRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapFunctionRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapRoleFunctionRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapRoleFunctionRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapFunctionAllRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapFunctionAllRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapFuncRelativeRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapFuncRelativeRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapFuncGroupRelativeRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapFuncGroupRelativeRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapMenuRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapMenuRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapOrganizationRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapOrganizationRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapUserRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapUserRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapRoleRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapRoleRepository, SH3H.WAP.Auth.DataAccess.Repo" />
    <alias alias="IWapUserInfoRepository" type="SH3H.WAP.Auth.DataAccess.Repo.Contact.IWapUserInfoRepository, SH3H.WAP.Auth.DataAccess.Repo" />


    <!--定义Common IRepo-->
    <alias alias="IWapCalendarDateRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapCalendarDateRepository,SH3H.WAP.DataAccess.Repo" />
    <alias alias="IWapCalendarRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapCalendarRepository, SH3H.WAP.DataAccess.Repo" />
    <alias alias="IWapCaliberRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapCaliberRepository, SH3H.WAP.DataAccess.Repo" />
    <alias alias="IWapConfigurationRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapConfigurationRepository, SH3H.WAP.DataAccess.Repo" />
    <alias alias="IWapModelRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapModelRepository, SH3H.WAP.DataAccess.Repo" />
    <alias alias="IWapProducerRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapProducerRepository, SH3H.WAP.DataAccess.Repo" />
    <alias alias="IWapWordRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapWordRepository, SH3H.WAP.DataAccess.Repo" />
    <alias alias="IWapTagRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapTagRepository, SH3H.WAP.DataAccess.Repo" />
    <alias alias="IWapMeterRangeRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapMeterRangeRepository, SH3H.WAP.DataAccess.Repo" />
    <alias alias="IWapUserSettingRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapUserSettingRepository, SH3H.WAP.DataAccess.Repo" />
    <alias alias="IWapUserSettingSchemeRepository" type="SH3H.WAP.DataAccess.Repo.Contact.IWapUserSettingSchemeRepository, SH3H.WAP.DataAccess.Repo" />

    <!--定义Bulletin IRepo-->
    <alias alias="IWapBulletinChannelRepository" type="SH3H.WAP.Bulletin.DataAccess.Repo.Contact.IWapBulletinChannelRepository, SH3H.WAP.Bulletin.DataAccess.Repo" />
    <alias alias="IWapBulletinRepository" type="SH3H.WAP.Bulletin.DataAccess.Repo.Contact.IWapBulletinRepository, SH3H.WAP.Bulletin.DataAccess.Repo" />
    <alias alias="IWapBulletinExtendRepository" type="SH3H.WAP.Bulletin.DataAccess.Repo.Contact.IWapBulletinExtendRepository, SH3H.WAP.Bulletin.DataAccess.Repo" />

    <!--定义Suite IRepo-->
    <alias alias="IWapGridCustomRepository" type="SH3H.WAP.Suite.DataAccess.Repo.Contact.IWapGridCustomRepository, SH3H.WAP.Suite.DataAccess.Repo" />
    <alias alias="IWapGridTemplateRepository" type="SH3H.WAP.Suite.DataAccess.Repo.Contact.IWapGridTemplateRepository, SH3H.WAP.Suite.DataAccess.Repo" />
    
    <!--定义File IRepo-->
    <alias alias="IWapFileDescriptorRepository" type="SH3H.WAP.File.DataAccess.Repo.Contact.IWapFileDescriptorRepository, SH3H.WAP.File.DataAccess.Repo" />

    <!--定义Auth服务-->
    <alias alias="IWapAuthService" type="SH3H.WAP.Auth.Contracts.IWapAuthService, SH3H.WAP.Auth.Contracts" />   
    <alias alias="IWapAppService" type="SH3H.WAP.Auth.Contracts.IWapAppService, SH3H.WAP.Auth.Contracts" />
    <alias alias="IWapFunctionService" type="SH3H.WAP.Auth.Contracts.IWapFunctionService, SH3H.WAP.Auth.Contracts" />
    <alias alias="IWapMenuService" type="SH3H.WAP.Auth.Contracts.IWapMenuService, SH3H.WAP.Auth.Contracts" />
    <alias alias="IWapOrganizationService" type="SH3H.WAP.Auth.Contracts.IWapOrganizationService, SH3H.WAP.Auth.Contracts" />
    <alias alias="IWapRoleService" type="SH3H.WAP.Auth.Contracts.IWapRoleService, SH3H.WAP.Auth.Contracts" />
    <alias alias="IWapUserService" type="SH3H.WAP.Auth.Contracts.IWapUserService, SH3H.WAP.Auth.Contracts" />
    <alias alias="IWapUserInfoService" type="SH3H.WAP.Auth.Contracts.IWapUserInfoService, SH3H.WAP.Auth.Contracts" />


    <!--定义Suite服务-->
    <alias alias="IWapGridCustomService" type=" SH3H.WAP.Suite.Contracts.IWapGridCustomService, SH3H.WAP.Suite.Contracts" />
    <alias alias="IWapGridTemplateService" type=" SH3H.WAP.Suite.Contracts.IWapGridTemplateService, SH3H.WAP.Suite.Contracts" />

    <!--定义FileServer服务-->
    <alias alias="IWapFileServerService" type="SH3H.WAP.File.Contracts.IWapFileServerService, SH3H.WAP.File.Contracts" />

    <!--定义Common服务-->
    <alias alias="IWapCalendarDateService" type="SH3H.WAP.Contracts.IWapCalendarDateService,SH3H.WAP.Contracts" />
    <alias alias="IWapCalendarService" type="SH3H.WAP.Contracts.IWapCalendarService, SH3H.WAP.Contracts" />
    <alias alias="IWapCaliberService" type="SH3H.WAP.Contracts.IWapCaliberService, SH3H.WAP.Contracts" />
    <alias alias="IWapConfigurationService" type="SH3H.WAP.Contracts.IWapConfigurationService, SH3H.WAP.Contracts" />
    <alias alias="IWapModelService" type="SH3H.WAP.Contracts.IWapModelService, SH3H.WAP.Contracts" />
    <alias alias="IWapProducerService" type="SH3H.WAP.Contracts.IWapProducerService, SH3H.WAP.Contracts" />
    <alias alias="IWapWordService" type="SH3H.WAP.Contracts.IWapWordService, SH3H.WAP.Contracts" />
    <alias alias="IWapTagService" type="SH3H.WAP.Contracts.IWapTagService, SH3H.WAP.Contracts" />
    <alias alias="IWapMeterRangeService" type="SH3H.WAP.Contracts.IWapMeterRangeService, SH3H.WAP.Contracts" />
    <alias alias="IWapUserSettingService" type="SH3H.WAP.Contracts.IWapUserSettingService, SH3H.WAP.Contracts" />
    <alias alias="IWapUserSettingSchemeService" type="SH3H.WAP.Contracts.IWapUserSettingSchemeService, SH3H.WAP.Contracts" />

    <!--定义Bulletin服务-->
    <alias alias="IWapBulletinChannelService" type="SH3H.WAP.Bulletin.Contracts.IWapBulletinChannelService, SH3H.WAP.Bulletin.Contracts" />
    <alias alias="IWapBulletinService" type="SH3H.WAP.Bulletin.Contracts.IWapBulletinService, SH3H.WAP.Bulletin.Contracts" />

    <containers>
      <container>
        <!--定义Auth Repo-->
        <register type="IAuthSeqRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapAuthSeqRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapAppRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapAppRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapAuthAuditRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapAuthAuditRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapFunctionGroupRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapFunctionGroupRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapFunctionRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapFunctionRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapRoleFunctionRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapRoleFunctionRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapFunctionAllRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapFunctionAllRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapFuncRelativeRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapFuncRelativeRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapFuncGroupRelativeRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapFuncGroupRelativeRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapMenuRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapMenuRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapOrganizationRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapOrganizationRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapUserRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapUserRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
       	<register type="IWapRoleRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapRoleRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>
        <register type="IWapUserInfoRepository" mapTo="SH3H.WAP.Auth.DataAccess.Repo.WapUserInfoRepository, SH3H.WAP.Auth.DataAccess.Repo"></register>

        <!--定义Common Repo-->
        <register type="IWapCalendarDateRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapCalendarDateRepository,SH3H.WAP.DataAccess.Repo" />
        <register type="IWapCalendarRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapCalendarRepository, SH3H.WAP.DataAccess.Repo" />
        <register type="IWapCaliberRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapCaliberRepository, SH3H.WAP.DataAccess.Repo" />
        <register type="IWapConfigurationRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapConfigurationRepository, SH3H.WAP.DataAccess.Repo" />
        <register type="IWapModelRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapModelRepository, SH3H.WAP.DataAccess.Repo" />
        <register type="IWapProducerRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapProducerRepository, SH3H.WAP.DataAccess.Repo" />
        <register type="IWapWordRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapWordRepository, SH3H.WAP.DataAccess.Repo" />
        <register type="IWapTagRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapTagRepository, SH3H.WAP.DataAccess.Repo" />
        <register type="IWapMeterRangeRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapMeterRangeRepository, SH3H.WAP.DataAccess.Repo" />
        <register type="IWapUserSettingRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapUserSettingRepository, SH3H.WAP.DataAccess.Repo" />
        <register type="IWapUserSettingSchemeRepository" mapTo="SH3H.WAP.DataAccess.Repo.WapUserSettingSchemeRepository, SH3H.WAP.DataAccess.Repo" />
        
        <!--定义Bulletin Repo-->
        <register type="IWapBulletinChannelRepository" mapTo="SH3H.WAP.Bulletin.DataAccess.Repo.WapBulletinChannelRepository, SH3H.WAP.Bulletin.DataAccess.Repo" />
        <register type="IWapBulletinRepository" mapTo="SH3H.WAP.Bulletin.DataAccess.Repo.WapBulletinRepository, SH3H.WAP.Bulletin.DataAccess.Repo" />
        <register type="IWapBulletinExtendRepository" mapTo="SH3H.WAP.Bulletin.DataAccess.Repo.WapBulletinExtendRepository, SH3H.WAP.Bulletin.DataAccess.Repo" />

        <!--定义Suite Repo-->
        <register type="IWapGridCustomRepository" mapTo="SH3H.WAP.Suite.DataAccess.Repo.WapGridCustomRepository, SH3H.WAP.Suite.DataAccess.Repo"></register>
        <register type="IWapGridTemplateRepository" mapTo="SH3H.WAP.Suite.DataAccess.Repo.WapGridTemplateRepository, SH3H.WAP.Suite.DataAccess.Repo"></register>

        <!--定义File Repo-->
        <register type="IWapFileDescriptorRepository" mapTo="SH3H.WAP.File.DataAccess.Repo.WapFileDescriptorRepository, SH3H.WAP.File.DataAccess.Repo"></register>
        
        <!--定义Auth服务实现-->
        <register type="IWapAuthService" mapTo="SH3H.WAP.Auth.Service.WapAuthServiceImpl, SH3H.WAP.Auth.Service"></register>
        <register type="IWapAppService" mapTo="SH3H.WAP.Auth.Service.WapAppServiceImpl, SH3H.WAP.Auth.Service"></register>
        <register type="IWapFunctionService" mapTo="SH3H.WAP.Auth.Service.WapFunctionServiceImpl, SH3H.WAP.Auth.Service"></register>
        <register type="IWapMenuService" mapTo="SH3H.WAP.Auth.Service.WapMenuServiceImpl, SH3H.WAP.Auth.Service"></register>
        <register type="IWapOrganizationService" mapTo="SH3H.WAP.Auth.Service.WapOrganizationServiceImpl, SH3H.WAP.Auth.Service"></register>       
        <register type="IWapRoleService" mapTo="SH3H.WAP.Auth.Service.WapRoleServiceImpl, SH3H.WAP.Auth.Service"></register>
        <register type="IWapUserService" mapTo="SH3H.WAP.Auth.Service.WapUserServiceImpl, SH3H.WAP.Auth.Service"></register>
        <register type="IWapUserInfoService" mapTo="SH3H.WAP.Auth.Service.WapUserInfoServiceImpl, SH3H.WAP.Auth.Service"></register>

        <!--定义Suite服务实现-->
        <register type="IWapGridCustomService" mapTo="SH3H.WAP.Suite.Service.WapGridCustomServiceImpl, SH3H.WAP.Suite.Service"></register>
        <register type="IWapGridTemplateService" mapTo="SH3H.WAP.Suite.Service.WapGridTemplateServiceImpl, SH3H.WAP.Suite.Service"></register>

        <!--定义FileServer服务实现-->
        <register type="IWapFileServerService" mapTo="SH3H.WAP.File.Service.WapFileServerServiceImpl, SH3H.WAP.File.Service"></register>

        <!--定义Common服务实现-->
        <register type="IWapCalendarDateService" mapTo="SH3H.WAP.Service.WapCalendarDateServiceImpl,SH3H.WAP.Service" />
        <register type="IWapCalendarService" mapTo="SH3H.WAP.Service.WapCalendarServiceImpl, SH3H.WAP.Service" />
        <register type="IWapCaliberService" mapTo="SH3H.WAP.Service.WapCaliberServiceImpl, SH3H.WAP.Service" />
        <register type="IWapConfigurationService" mapTo="SH3H.WAP.Service.WapConfigurationServiceImpl, SH3H.WAP.Service" />
        <register type="IWapModelService" mapTo="SH3H.WAP.Service.WapModelServiceImpl, SH3H.WAP.Service" />
        <register type="IWapProducerService" mapTo="SH3H.WAP.Service.WapProducerServiceImpl, SH3H.WAP.Service" />
        <register type="IWapWordService" mapTo="SH3H.WAP.Service.WapWordServiceImpl, SH3H.WAP.Service" />
        <register type="IWapTagService" mapTo="SH3H.WAP.Service.WapTagServiceImpl, SH3H.WAP.Service" />
        <register type="IWapMeterRangeService" mapTo="SH3H.WAP.Service.WapMeterRangeServiceImpl, SH3H.WAP.Service" />
        <register type="IWapUserSettingService" mapTo="SH3H.WAP.Service.WapUserSettingServiceImpl, SH3H.WAP.Service" />
        <register type="IWapUserSettingSchemeService" mapTo="SH3H.WAP.Service.WapUserSettingSchemeServiceImpl, SH3H.WAP.Service" />

        <!--定义Bulletin服务实现-->
        <register type="IWapBulletinChannelService" mapTo="SH3H.WAP.Bulletin.Service.WapBulletinChannelServiceImpl, SH3H.WAP.Bulletin.Service"></register>
        <register type="IWapBulletinService" mapTo="SH3H.WAP.Bulletin.Service.WapBulletinServiceImpl, SH3H.WAP.Bulletin.Service"></register>

      </container>
    </containers>
  </unity>
</configuration>