<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>

    <!--定义数据访问器程序集-->
    <assembly name="SH3H.WAP.DataAccess.SqlServer" />
    <assembly name="SH3H.WAP.Auth.DataAccess.SqlServer" />
    <assembly name="SH3H.WAP.Bulletin.DataAccess.SqlServer" />  
    <assembly name="SH3H.WAP.Suite.DataAccess.SqlServer" />   
    <assembly name="SH3H.WAP.File.DataAccess.SqlServer" />
    <!--<assembly name="SH3H.WAP.DataAccess.Oracle" />-->

    <!--定义数据访问器命名空间-->
    <!--SqlServer-->
    <namespace name="SH3H.WAP.DataAccess.SqlServer" />
    <namespace name="SH3H.WAP.Auth.DataAccess.SqlServer" />
    <namespace name="SH3H.WAP.Bulletin.DataAccess.SqlServer" />  
    <namespace name="SH3H.WAP.Suite.DataAccess.SqlServer" />  
    <namespace name="SH3H.WAP.File.DataAccess.SqlServer" />
    <!--Oracle-->
    <!--<namespace name="SH3H.WAP.DataAccess.Oracle.Config" />-->

    <!--定义Auth数据存储接口别名-->
    <alias alias="IWapAppStorage" type="SH3H.WAP.Auth.DataAccess.IWapAppStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapMenuStorage" type="SH3H.WAP.Auth.DataAccess.IWapMenuStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapRoleStorage" type="SH3H.WAP.Auth.DataAccess.IWapRoleStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapUserStorage" type="SH3H.WAP.Auth.DataAccess.IWapUserStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapFunctionStorage" type="SH3H.WAP.Auth.DataAccess.IWapFunctionStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapRoleFunctionStorage" type="SH3H.WAP.Auth.DataAccess.IWapRoleFunctionStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapFunctionAllStorage" type="SH3H.WAP.Auth.DataAccess.IWapFunctionAllStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapFuncRelativeStorage" type="SH3H.WAP.Auth.DataAccess.IWapFuncRelativeStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapFuncGroupRelativeStorage" type="SH3H.WAP.Auth.DataAccess.IWapFuncGroupRelativeStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapFunctionGroupStorage" type="SH3H.WAP.Auth.DataAccess.IWapFunctionGroupStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapOrganizationStorage" type="SH3H.WAP.Auth.DataAccess.IWapOrganizationStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapAuthSeqStorage" type="SH3H.WAP.Auth.DataAccess.IWapAuthSeqStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapAuthAuditStorage" type="SH3H.WAP.Auth.DataAccess.IWapAuthAuditStorage, SH3H.WAP.Auth.DataAccess" />
    <alias alias="IWapUserInfoStorage" type="SH3H.WAP.Auth.DataAccess.IWapUserInfoStorage, SH3H.WAP.Auth.DataAccess" />

    <!--定义Suite数据存储接口别名-->
    <alias alias="IWapGridCustomStorage" type="SH3H.WAP.Suite.DataAccess.IWapGridCustomStorage, SH3H.WAP.Suite.DataAccess" />
    <alias alias="IWapGridTemplateStorage" type="SH3H.WAP.Suite.DataAccess.IWapGridTemplateStorage, SH3H.WAP.Suite.DataAccess" />

    <!--定义FileServer数据存储接口别名-->
    <alias alias="IWapFileDescriptorStorage" type="SH3H.WAP.File.DataAccess.IWapFileDescriptorStorage, SH3H.WAP.File.DataAccess"></alias>

    <!--定义Config数据存储接口别名-->
    <alias alias="IWapCalendarDateStorage" type="SH3H.WAP.DataAccess.IWapCalendarDateStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapWordStorage" type="SH3H.WAP.DataAccess.IWapWordStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapCaliberStorage" type="SH3H.WAP.DataAccess.IWapCaliberStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapModelStorage" type="SH3H.WAP.DataAccess.IWapModelStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapProducerStorage" type="SH3H.WAP.DataAccess.IWapProducerStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapCalendarStorage" type="SH3H.WAP.DataAccess.IWapCalendarStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapConfigurationStorage" type="SH3H.WAP.DataAccess.IWapConfigurationStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapTagStorage" type="SH3H.WAP.DataAccess.IWapTagStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapMeterRangeStorage" type="SH3H.WAP.DataAccess.IWapMeterRangeStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapUserSettingStorage" type="SH3H.WAP.DataAccess.IWapUserSettingStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapUserSettingSchemeStorage" type="SH3H.WAP.DataAccess.IWapUserSettingSchemeStorage, SH3H.WAP.DataAccess"></alias>

    <!--定义Bulletin数据存储接口别名-->
    <alias alias="IWapBulletinStorage" type="SH3H.WAP.Bulletin.DataAccess.IWapBulletinStorage, SH3H.WAP.Bulletin.DataAccess"></alias>
    <alias alias="IWapBulletinChannelStorage" type="SH3H.WAP.Bulletin.DataAccess.IWapBulletinChannelStorage, SH3H.WAP.Bulletin.DataAccess"></alias>
    <alias alias="IWapBulletinExtendStorage" type="SH3H.WAP.Bulletin.DataAccess.IWapBulletinExtendStorage, SH3H.WAP.Bulletin.DataAccess"></alias>

    <containers>
      <container>
        <!--定义Auth数据存储-->
        <register type="IWapAppStorage" mapTo="WapAppStorage" />
        <register type="IWapMenuStorage" mapTo="WapMenuStorage" />
        <register type="IWapRoleStorage" mapTo="WapRoleStorage" />
        <register type="IWapUserStorage" mapTo="WapUserStorage" />
        <register type="IWapFunctionStorage" mapTo="WapFunctionStorage" />
        <register type="IWapRoleFunctionStorage" mapTo="WapRoleFunctionStorage" />
        <register type="IWapFunctionAllStorage" mapTo="WapFunctionAllStorage" />
        <register type="IWapFuncRelativeStorage" mapTo="WapFuncRelativeStorage" />
        <register type="IWapFuncGroupRelativeStorage" mapTo="WapFuncGroupRelativeStorage" />
        <register type="IWapFunctionGroupStorage" mapTo="WapFuncGroupStorage" />
        <register type="IWapOrganizationStorage" mapTo="WapOrganizationStorage" />
        <register type="IWapAuthSeqStorage" mapTo="WapAuthSeqStorage" />
        <register type="IWapAuthAuditStorage" mapTo="WapAuthAuditStorage" />
        <register type="IWapUserInfoStorage" mapTo="WapUserInfoStorage" />

        <!--定义Suite数据存储-->
        <register type="IWapGridCustomStorage" mapTo="WapGridCustomStorage" />
        <register type="IWapGridTemplateStorage" mapTo="WapGridTemplateStorage" />

        <!--定义FileServer数据存储-->
        <register type="IWapFileDescriptorStorage" mapTo="WapFileDescriptorStorage"></register>

        <!--Oracle-->
        <!--<register type="IWapFileDescriptorStorage" mapTo="SH3H.WAP.DataAccess.Oracle.FileServer.WapFileDescriptorStorage, SH3H.WAP.DataAccess.Oracle"></register>-->

        <!--定义Config数据存储-->
        <register type="IWapCalendarDateStorage" mapTo="WapCalendarDateStorage"></register>
        <register type="IWapWordStorage" mapTo="WapWordStorage"></register>
        <register type="IWapCaliberStorage" mapTo="WapCaliberStorage"></register>
        <register type="IWapModelStorage" mapTo="WapModelStorage"></register>
        <register type="IWapProducerStorage" mapTo="WapProducerStorage"></register>
        <register type="IWapCalendarStorage" mapTo="WapCalendarStorage"></register>
        <register type="IWapConfigurationStorage" mapTo="WapConfigurationStorage"></register>
        <register type="IWapTagStorage" mapTo="WapTagStorage"></register>
        <register type="IWapMeterRangeStorage" mapTo="WapMeterRangeStorage"></register>
        <register type="IWapUserSettingStorage" mapTo="WapUserSettingStorage"></register>
        <register type="IWapUserSettingSchemeStorage" mapTo="WapUserSettingSchemeStorage"></register>

        <!--定义Bulletin数据存储-->
        <register type="IWapBulletinStorage" mapTo="WapBulletinStorage"></register>
        <register type="IWapBulletinChannelStorage" mapTo="WapBulletinChannelStorage"></register>
        <register type="IWapBulletinExtendStorage" mapTo="WapBulletinExtendStorage"></register>

        <!--Oracle-->
        <!--定义Config数据存储-->
        <!--<register type="IWapCalendarDateStorage" mapTo="SH3H.WAP.DataAccess.Oracle.Config.WapCalendarDateStorage, SH3H.WAP.DataAccess.Oracle"></register>
        <register type="IWapCaliberStorage" mapTo="SH3H.WAP.DataAccess.Oracle.Config.WapCaliberStorage, SH3H.WAP.DataAccess.Oracle"></register>
        <register type="IWapModelStorage" mapTo="SH3H.WAP.DataAccess.Oracle.Config.WapModelStorage, SH3H.WAP.DataAccess.Oracle"></register>
        <register type="IWapProducerStorage" mapTo="SH3H.WAP.DataAccess.Oracle.Config.WapProducerStorage, SH3H.WAP.DataAccess.Oracle"></register>
        <register type="IWapWordStorage" mapTo="SH3H.WAP.DataAccess.Oracle.Config.WapWordStorage, SH3H.WAP.DataAccess.Oracle"></register>-->
      </container>
    </containers>
  </unity>
</configuration>