<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container>

        <!--WebApi.Auth-->
        <register type="SH3H.WAP.Auth.Controllers.WapAuthController, SH3H.WAP.Auth.Controllers"></register>
        <register type="SH3H.WAP.Auth.Controllers.WapAppController, SH3H.WAP.Auth.Controllers"></register>
        <register type="SH3H.WAP.Auth.Controllers.WapUserController, SH3H.WAP.Auth.Controllers"></register>
        <register type="SH3H.WAP.Auth.Controllers.WapMenuController, SH3H.WAP.Auth.Controllers"></register>
        <register type="SH3H.WAP.Auth.Controllers.WapRoleController, SH3H.WAP.Auth.Controllers"></register>
        <register type="SH3H.WAP.Auth.Controllers.WapFunctionController, SH3H.WAP.Auth.Controllers"></register>
        <register type="SH3H.WAP.Auth.Controllers.WapOrganizationController, SH3H.WAP.Auth.Controllers"></register>

        <!--WebApi.Suite-->
        <register type="SH3H.WAP.Suite.Controllers.WapGridCustomController, SH3H.WAP.Suite.Controllers"></register>
        <register type="SH3H.WAP.Suite.Controllers.WapGridTemplateController, SH3H.WAP.Suite.Controllers"></register>

        <!--WebApi.FileServer-->
        <register type="SH3H.WAP.File.Controllers.WapFileServerController, SH3H.WAP.File.Controllers"></register>

        <!--WebApi.Config-->
        <register type="SH3H.WAP.Controllers.WapCalendarController, SH3H.WAP.Controllers"></register>
        <register type="SH3H.WAP.Controllers.WapCalendarDateController,SH3H.WAP.Controllers"></register>
        <register type="SH3H.WAP.Controllers.WapCaliberController, SH3H.WAP.Controllers"></register>
        <register type="SH3H.WAP.Controllers.WapConfigurationController, SH3H.WAP.Controllers"></register>
        <register type="SH3H.WAP.Controllers.WapModelController, SH3H.WAP.Controllers"></register>
        <register type="SH3H.WAP.Controllers.WapProducerController, SH3H.WAP.Controllers"></register>
        <register type="SH3H.WAP.Controllers.WapWordController, SH3H.WAP.Controllers"></register>
        <register type="SH3H.WAP.Controllers.WapTagController, SH3H.WAP.Controllers"></register>
        <register type="SH3H.WAP.Controllers.WapMeterRangeController, SH3H.WAP.Controllers"></register>
        <register type="SH3H.WAP.Controllers.WapUserSettingController, SH3H.WAP.Controllers"></register>
        <register type="SH3H.WAP.Controllers.WapUserSettingSchemeController, SH3H.WAP.Controllers"></register>
        
        <!--WebApi.Bulletin-->
        <register type="SH3H.WAP.Bulletin.Controllers.WapBulletinController, SH3H.WAP.Bulletin.Controllers"></register>
        <register type="SH3H.WAP.Bulletin.Controllers.WapBulletinChannelController, SH3H.WAP.Bulletin.Controllers"></register>

      </container>
    </containers>
  </unity>
</configuration>