<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SDK.Infrastructure" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.5" newVersion="1.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>