<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <!--SqlServer-->
  <add name="AuthConnectionString" connectionString="Data Source=128.1.10.4;Initial Catalog=WAP_CONFIG_DEV2;User Id=sa;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
  <add name="FileServerConnectionString" connectionString="Data Source=128.1.10.4;Initial Catalog=WAP_CONFIG_DEV2;;User Id=sa;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
  <add name="ConfigureConnectionString" connectionString="Data Source=128.1.10.4;Initial Catalog=WAP_CONFIG_DEV2;;User Id=sa;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
  <add name="QueryConnectionString" connectionString="Data Source=128.1.10.4;Initial Catalog=WAP_CONFIG_DEV2;;User Id=sa;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
  <add name="ScadaConnectionString" connectionString="Data Source=128.1.3.186;Initial Catalog=WAP_DATACENTER;User Id=sa;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
  <add name="PrimaryConnectionString" connectionString="Data Source=128.1.3.186;Initial Catalog=WAP_GENERAL;User Id=sa;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />

  <!--Oracle-->
  <!--<add name="ConfigureConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=128.1.3.208)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=csmswater)));User Id=WAPCONFIGDEV;Password=p@ssw0rd;" providerName="Oracle.ManagedDataAccess.Client" />
  <add name="FileServerConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=128.1.3.208)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=csmswater)));User Id=WAPCONFIGDEV;Password=p@ssw0rd;" providerName="Oracle.ManagedDataAccess.Client" />-->
</connectionStrings>